.about-container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about-container .about-img {
    box-shadow: var(--shadow);
    width: 350px;
}

.about-data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about-data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about-description {
    margin-bottom: 1rem;
    text-align: justify;
}

.about-skills {
    row-gap: 1.25rem;
}

.skills-titles {
    display: flex;
    justify-content: space-between;
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills-number {
    line-height: 1.2;
}

.skills-bar,
.skills-percentage {
    margin-top: 5px;
    height: 7px;
    border-radius: 0.25rem;
}

.skills-bar {
    background-color: #f1f1f1;
}

.skills-percentage {
    display: block;
    background-color: var(--first-color);
}

.about-boxes {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
    padding: 1.7rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.about-box {
    display: flex;
    column-gap: 1.5rem;
}

.about-icon {
    font-size: var(--h1-font-size);
    color: #dedeea;
}

.about-title {
    font-size: 1.875rem;
}

.tech-stacks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 1.875rem;
}

.tech-stack {
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.tech-stack-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tech-stack-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.tech-stack-number {
    line-height: 1.2;
}

.tech-stack-bar {
    height: 15px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: var(--border-radius);
}

.tech-stack-percentage {
    height: 100%;
    display: block;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about-data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: 49%;
        top: -20px;
    }

    .about-img {
        justify-content: center;
    }

    .about-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-box {
        flex-direction: column;
        row-gap: .5rem;
        margin-top: 1.125rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        grid-template-columns: 350px;
    }

    .about-data::before {
        left: 47%;
    }

    .about-data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .about-boxes {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1.5rem;
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .about-container {
        grid-template-columns: 320px;
    }
}

@media screen and (max-width: 350px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-boxes {
        grid-template-columns: 1fr;
    }
}