.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 540px;
    text-align: center;
}

.home__img {
    border: none;
    width: 35%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}