body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main {
  margin-left: 110px;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}