/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* Variables */
:root {
    /* Colors */
    --first-color: hsl(353, 100%, 65%);
    --title-color: hsl(244, 24%, 26%);
    --text-color: hsl(244, 16%, 43%);
    --body-color: hsl(258, 60%, 98%);
    --container-color: #fff;
    /* Font and Typography */
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    /* Font Weight */
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    /* Box Shadow */
    --shadow: 0 5px 20px 0 rgb(69 67 96 / 10%);
    /* Border Radius */
    --border-radius: 20px;
}

/* Dark Mode Toggle */
body.dark-mode {
    --first-color: hsl(353, 100%, 65%);
    --title-color: hsl(225, 36%, 96%);
    --text-color: hsl(180, 1%, 77%);
    --body-color: hsl(217, 67%, 13%);
    --container-color: hsl(218, 38%, 19%);
    --shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}


/* Other Class in Other Components affected in Dark Mode */
.copyright {
    color: var(--text-color);
}

.mouse__wrapper {
    color: var(--text-color);
}

.contact__form-input::placeholder {
    color: var(--text-color);
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input, textarea  {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    line-height: 1.7;
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
    line-height: 1.2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Reusable CSS Classes */
.container {
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    margin-left: 0.875rem;
    font-weight: var(--font-bold);
    position: relative;
    margin-bottom: 3.75rem;
}

.section__title::before {
    content: '';
    background: url(./assets/dots-bg.svg);
    height: 2.25rem;
    width: 2.25rem;
    position: absolute;
    left: -0.875rem;
    top: -0.875rem;
}

.btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--first-color);
    font-size: 24px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s;
}

.btn:after, .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 0.7s;
}

.btn:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid var(--title-color);
    border-left: 5px solid var(--title-color);
}

.btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid var(--title-color);
    border-right: 5px solid var(--title-color);
}

.btn:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: hsl(43, 100%, 68%)
}

.btn:hover:before, .btn:hover:after {
    width: 105%;
    height: 115%;
}

@media screen and (max-width: 1024px) {
    .section__title {
        position: relative;
        display: flex;
        left: 1.875rem;
        margin-bottom: 2rem;
    }
}